<!DOCTYPE html>
<html lang="ru">
<head>
    {% extends 'blog/base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(94572988, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/94572988" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% block content %}
        <div class="user__position">
            <div class="user-header">
                <div class="user-header_image">
                </div>
                <div class="user-header_menu">
                    <p class="user-header_username">{{ user.username }}</p>
                    {% if user_status %}
                        {% for status in user_status %}
                            <p class="user-header_status">Статус: {{ status.status|linebreaksbr }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="user-header_button">
                        <button class="user-header_create-post"><a href="{% url 'post_creater' %}">Создать пост</a></button>
                        <button class="user-header_logout"><a href="{% url 'user_logout' %}">Выйти</a></button>
                    </div>

                </div>
            </div>
            <div class="posts">
                <p class="posts_title">Посты:</p>
                {% for post in post %}
                    <div class="post">
                        {% if post.title_image %}
                            <img src="{{ post.title_image.url }}" alt="" class="post_image">
                        {% endif %}
                        <div class="post_content">
                            <a href="{% url 'post_detail' id=post.id %}" class="post_content-title">{{ post.title|linebreaksbr }}</a>
                            <p class="post_date">{{ post.date }}</p>
                            <p class="post_main-text">{{ post.main_text|linebreaksbr }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
</body>
</html>