.header-post_post-save {
    width: 308px;
    height: 52px;
    background-color: #D9D9D9;
    border-radius: 23px;
    border: solid black 3px;
    font-size: 32px;
    font-family: 'Roboto Regular';
}