.login-block {
    background-color: #DCDCDC;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
