<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mprog</title>
</head>
<body class="background">
    
    <header class="header">
        <div>
            <a href="/" class="header_logo">Mprog</a>
            <form class="header_enter" method="GET" enctype="multipart/form-data">
                {{ search.input }}<!--header_enter-->
            </form>
            
        </div>
        
        <nav class="header_menu">
            <!--<a href="#" class="header_text-menu">Новости</a>-->
            <!--<a href="#" class="header_text-menu">Посты</a>-->
            <!--<a href="#" class="header_text-menu">Пользователи</a>-->
            {% if user.is_authenticated %}
                <a href="{% url 'user_accaunt' id=user.id %}" class="header_text-menu">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'user_login' %}" class="header_text-menu">Войти</a>
            {% endif %}
        </nav>
    </header>
        <div class="content">
            {% block content %}
            
            {% endblock %}
        </div>
</body>
</html>