<!DOCTYPE html>
<html lang="ru">
<head>

    {% extends 'blog/base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(93333722, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93333722" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% block content %}
        <div class="posts">
            <p class="posts_title">Посты:</p>
            <!--<p class="posts_title">Посты</p>-->
            <!--<select name="" id="id_filter" onchange="window.location.href=this.options[this.selectedIndex].value">-->
                <!--<option value="?sort_by=date">По дате (от познего к раннему)</option>-->
                <!--<option value="?sort_by=renav">По дате (от раннего к познему)</option>-->
                <!--<option value="#">По популярности (от менее популярного)</option>-->
                <!--<option value="#">По популярности (от популярного)</option>-->
            <!--</select>-->

            {% for post in post %}
                <div class="post">
                    {% if post.title_image %}
                        <img src="{{ post.title_image.url }}" alt="" class="post_image">
                    {% endif %}
                    <div class="post_content">
                        <a href="{% url 'post_detail' id=post.id %}" class="post_content-title">{{ post.title|linebreaksbr }}</a>
                        <p class="post_date">{{ post.date }}</p>
                        <p class="post_main-text">{{ post.main_text|linebreaksbr }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>