<!DOCTYPE html>
<html lang="ru">
<head>
    {% extends 'blog/base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
        
        <div class="header-post">
            {% if post.title_image %}
                <img src="/media/{{ post.title_image }}" alt="" class="header-post_image">
            {% endif %}
            {% if not post.title_image %}
                <div class="header-post_image header-post_image__color"></div>
            {% endif %}
            <div class="header-post_block-title">
                <div>
                    <p class="header-post_title">{{ post.title }}</p>
                    <p class="header-post_date">{{ post.date }}</p>
                </div>
                <div>
                    <p class="header-post_auther">Автор: {{ post.author }}</p>
                    {% if user == post.author %}
                        <a href="{% url 'post_editor' id=post.id %}" class="header-post_edit">Редактировать</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div class="main-content">
            <p class="main-content_text">{{ post.main_text|linebreaksbr }}</p>
            {% if image %}
                <div class="image-menu">
                    {% for image in image %}
                        <img src="{{ image.image.url }}" alt="" class="image-menu_images">
                    {% endfor %}
                </div>
            {% endif %}
                
            {% if post.text %}
                <div class="background-text">
                    <p class="background-text_text">{{ post.text|linebreaksbr }}</p>
                </div>
            {% endif %}
        </div>
        {% if post.file %}
            <div class="block-site">
                <div class="block-site_header">
                    <p class="block-site_header-text">Скачать</p>
                </div>
                <button class="block-site_button"><a href="/media/{{ post.file }}" download>Скачать</a></button>
            </div>
        {% endif %}
        <div class="block-site">
            <div class="block-site_header">
                <p class="block-site_header-text">Комментарии</p>
            </div>
            {% if user.is_authenticated %}
                <form method="post" enctype="multipart/form-data" class="block-site_form">{% csrf_token %}
                    {{ comment.comment }}<!--block-site_input-->
                    <button class="block-site_save-comment" type="submit" >Отправить</button>
                </form>
            {% endif %}
            {% for comment in comment_information %}
                <div class="block-site_comment">
                    <p class="block-site_user">{{ comment.user }}</p>
                    <p class="block-site_date">Дата публикации: {{ comment.date }}</p>
                    <p class="block-site_text">{{ comment.comment }}</p>
                </div>
            {% endfor %}
            
            
        </div>
    {% endblock %}
</body>
</html>